* {
    box-sizing: border-box;
}

header {
    position: relative;
    height: 70px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 2;
}

body {
    background-color: #261C2C;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.logo {
    height: 50px;
}